{% extends 'base.html' %}

{% block 'titulo' %}
    Calendário de Reservas de Salas
{% endblock %}

{% block 'conteudo' %}
<html lang="pt-br">
<head>
    <!-- Define o design da tabela -->
    <style>
        .titulo {
            margin-left: 10px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <!-- Título da página -->
    <h1 class="titulo">Calendário de Reservas</h1>

    <!-- Tabela para exibir eventos do calendário -->
    <table>
        <!-- Cabeçalho da tabela -->
        <thead>
            <tr>
                <!-- Define os cabeçalhos das colunas -->
                <th>Data de Solicitação</th>
                <th>Data de Reserva</th>
                <th>Data de Devolução</th>
                <th>Eventos</th>
            </tr>
        </thead>
        <!-- Corpo da tabela -->
        <tbody>
            <!-- Loop através dos eventos -->
            {% for evento in eventos %}
                <tr>
                    <!-- Exibe a data de solicitação do primeiro evento na lista no formato brasileiro -->
                    <td>{{ evento.eventos.0.data_solicitacao }}</td>
                    <!-- Exibe a data do evento no formato brasileiro -->
                    <td>{{ evento.data }}</td>
                    <!-- Exibe a data de devolução do primeiro evento na lista no formato brasileiro -->
                    <td>{{ evento.eventos.0.end }}</td>

                    <td>
                        <!-- Lista de eventos para a data específica -->
                        <ul>
                            <!-- Loop através dos eventos na data -->
                            {% for evento_na_data in evento.eventos %}
                                <li>
                                    <!-- Exibe o título do evento e o nome da sala -->
                                    {{ evento_na_data.title }} - {{ evento_na_data.salas.nome_da_sala }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}
