{% extends 'base.html' %}

{% block 'titulo' %}Material Cadastrados{% endblock %}

{% block 'conteudo' %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visualizar Material</title>
</head>

<body>
    <input type="submit" onclick="location.href = '{%url 'gestor:material_list' %}'" value="Voltar Para Lista">
    <br />
    Nome do Material: {{ object.nome_do_material }}
</body>

</html>

{% endblock %}