<div class="container">
    <h1>Sala: <h4>{{ Reservas.0.salas }}</h4></h1>

    {% for reserva in Reservas %}
        <h1>Data da reserva:</h1>
        <h4>{{ reserva.data_reserva }}</h4>
        <h1>Solicitante:</h1>
        <h4>{{ reserva.usuarios }}</h4>
        <h1>Data da Devolução:</h1>
        <h4>{{ reserva.data_devolucao }}</h4>
        <h1>Data da solicitação:</h1>
        <h4>{{ reserva.data_solicitacao }}</h4>
        <br>
    {% endfor %}

    <hr>

    <h2>Historico de reserva</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">Data da reserva</th>
                <th scope="col">Data da devolução</th>
                <th scope="col">Data da solicitação</th>
            </tr>
        </thead>
        <tbody>
            {% for i in Reservas %}
                <tr>
                    <th scope="row">{{ i.usuarios }}</th>
                    <td>{{ i.data_reserva }}</td>
                    <td>{{ i.data_devolucao }}</td>
                    <td>{{ i.data_solicitacao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
